<% provide(:title, "Start a new episode") %>
<div class="row">
	<div class="span3">
		<%= render 'sidebar'%>
	</div>
	<div class="span7">
		<%= render partial: 'navbar', locals: {text: "You're broadcasting!"}  %>
		<div>
		</div>
	</div>
</div>
