<% provide(:title, "Start a new episode") %>
<div class="row">
	<div class="span3">
		<%= render 'sidebar'%>
	</div>
	<div class="span7">
		<% if ishosting?(current_user) %>
		<%= render partial: 'navbar', locals: {text: "You're broadcasting!"}  %>
		<div>
			You're hosting
		</div>
		<% else %>
		<%= render partial: 'navbar', locals: {text: "Listening to @episode.title"}  %>
		<div>
			You're listening
		</div>
		<% end %>
	</div>
</div>
