// Place all the styles related to the Podcasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.podsummary {
	margin-top: 10%;
}

.poddescript {
	font-size: 12px;
}

.podcover {
	margin-top: -5%;
	margin-bottom: 6%;
}

.podbuttons {
	margin-top: 3%;
}