<h1>All Podcasts</h1>
	<ul class="nav nav-tabs nav-stacked" style="text-align:left;">
  		<% @podcast.each do |podcast| %>
        <li><%= link_to user_podcast_path(podcast.user_id, podcast.id) do %>
          <%= podcast.name %> <br><small><%= podcast.description %></small><% end %></li>
        </tr>
  		<% end %>
      </tbody>
  	</ul>