<h1>All Podcasts</h1>
<ul class="nav nav-tabs nav-stacked" style="text-align:left;">
  		<% @podcast.each do |podcast| %>
        	<%= render partial: "layouts/list_podcasts", locals: {podcast: podcast} %>
        <% end %>
  	</ul>
	